* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #111;
}

.navbar {
  background: #06143A;
  border-bottom: none;
  padding: 18px 40px 14px;
}

.logo {
  text-align: center;
  margin-bottom: 14px;
}

.logo img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.menu a {
  text-decoration: none;
  color: #F6DE88;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu a:hover {
  border-bottom: 2px solid #F6DE88;
}

@media (max-width: 768px) {
  .navbar {
    padding: 16px 20px 14px;
  }

  .logo img {
    width: 240px;
  }

  .menu {
    flex-direction: column;
    gap: 12px;
  }

  .contenedor-principal {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}

/* Estructura principal */
.contenedor-principal {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  padding: 40px;
}

/* Sección grande izquierda */
.contenido-general {
  background: white;
  padding: 30px;
  min-height: 600px;
  border: 1px solid #ddd;
}

/* Columna derecha */
.columna-info {
  background: white;
  padding: 25px;
  min-height: 600px;
  border: 1px solid #ddd;
}

.contenido-general h2,
.columna-info h2 {
  margin-bottom: 20px;
}

.bloque-contenido {
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #ccc;
}

/* Versión para celular */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .contenedor-principal {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}